<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-balanced">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21">
    <ion-header-bar class="bar-balanced">
      <div class="title">İşlemler</div>
    </ion-header-bar>
    <ion-content padding="false" class="side-menu-left has-header ">
      <ion-list id="islemler-list1">
        <ion-item class="item-icon-right" id="islemler-list-item1" ui-sref="islemler.hayvanKayit()" menu-close="">Hayvan Kayıt
          <span class="item-note">Yeni Kayıt</span>
          <i class="icon ion-document"></i>
        </ion-item>
        <ion-item class="item-icon-right" id="islemler-list-item2" ui-sref="islemler.hayvanListesi()" menu-close="">Kayıt Listesi
          <i class="icon ion-ios-list-outline"></i>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>